body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.carts {
  position: relative;
  font-size: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carts-icon {
  width: 50px;
  height: 24px;
  z-index: 1000;
  vertical-align: middle;
}
.carts-count {
  position: absolute;
  font-size: 15px;
  top: -6px;
  right: -8px;
  background: #f70618;
  border-radius: 106px;
  width: 18px;
  text-align: center;
  color: white;
  height: 18px;
}
.carts-count span {
  font-size: 11px;
  text-align: center;
  margin: auto;
  height: auto;
  position: absolute;
  top: 2px;
  left: 0px;
  right: 0px;
  font-family: monospace;
}

@media (max-width: 768px) {
  .carts-count {
    position: absolute;
    bottom: 30px;
    font-size: px;
    width: 20px;
    height: 20px;
  }
  .carts-count span {
    margin: auto;
    font-size: 14px;
    text-align: center;
  }
}
