body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carts {
  /* position: relative; */
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;

  align-items: center;
}
.carts-icon {
  width: 50px;
  height: 24px;
  z-index: 1000;
  vertical-align: middle;
}
.carts-count {
  position: absolute;
  font-size: 15px;
  top: 56px;

  right: 84px;
  background: #e63946;
  border-radius: 50%;
  width: 18px;
  text-align: center;
  color: white;
  height: 23px;
}
@media (max-width: 768px) {
  .carts-count {
    position: absolute;
    top: 56px;
    right: 95px;

    font-size: 15px;
  }
  .carts-icon{
    margin: 10px;
  }
}
