.home-container {
  background-color: #ffffff;
  transform: translateY(-5px);
}
/* .home-content {
  /* text-align: center; */

/* } */

/* .gridProduct {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  
} */
.viewMore {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 12px;
  color: rgb(39 83 85);
}
.browseAll {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 12px;
  color: rgb(39 83 85);
}
.continue-Shopping {
  text-align: center;
  margin-top: 55px;
}
.continue-Shopping h3 {
  color: "#333";
}
.userName {
  color: rgb(230, 144, 82);
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
}
.nirvana-image {
  border-radius: 14px;
  /* width: 100%; */
  text-align: center;
}
.nirvana-image img{
  width: 93%;
    border-radius: 12px;

}
@media (max-width:768px) {
  .nirvana-image img{
  width: 100%;
    padding: 0 45px;

}
}