.login-page {
  display: flex;
  justify-content: center;
  align-items: left;
  min-height: 50vh;
  padding: 42px 0 45px 0px;
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #e2eaf8, #bcbfc9);
}

.login-card {
  background: #fff;

  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 320px;
  text-align: center;
  transition: transform 0.2s ease;

  max-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0px 25px 2px 30px;
  border-radius: 14px;

  min-height: 80vh;
}

.login-title {
  margin-bottom: 6px;
  font-size: 23px;
  font-weight: 600;
  color: #1e3a8a;
}

.login-subtitle {
  color: #555;
  margin-bottom: 10px;
}

.login-form {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  padding: 10px 5px;
  border-radius: 8px;
  border: 1.5px solid #cfd8dc;
  outline: none;
  transition: all 0.3s ease;
  font-size: 13px;
}

.login-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
}

.login-btn {
  margin-top: 30px;
  padding: 12px;
  background: linear-gradient(135deg, #3b82f6, #1d4ed8);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #2563eb, #1e40af);
  box-shadow: 0 0 10px rgba(37, 99, 235, 0.5);
}

.login-error {
  color: #dc2626;
  font-size: 13px;
  margin: 5px auto auto -5px;

  max-height: 8px;
  text-align: left;
}
.input-error {
  border-color: #e53935;
  background: #ffebee;
}
.login-footer {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.signup-link {
  color: #3b82f6;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.signup-link:hover {
  color: #1d4ed8;
}

.password-field {
  position: relative;
}

.toggle-btn {
  position: absolute;
  /* right: 10px; */
  top: 64.5%;
  right: 38%;
  background: none;
  border: none;
  color: rgb(0, 123, 255);
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 480px) {
  .login-card {
    padding: 30px, 25px;
  }
  .login-title {
    font-size: 22px;
  }

  .login-subtitle {
    font-size: 13px;
  }
}
