.parentDiv {
  position: sticky;
  top: 0;
  z-index: 1;
}
.topHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #d3dbdf;
  height: 38px;
  width: auto;
  font-size: 12px;
  font-family: Metrophobic, sans-serif;
  color: #1a2024;
}
.topHeader span {
  white-space: nowrap;
  letter-spacing: -0.5px;
}
.navbar {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
}

.logo img {
  height: 12%;
  width: 25%;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 11px 10px;
  border-radius: 20px;

  width: 26%;
  margin: 0px 15px 0px 30px;
}

.search-bar i {
  color: #666;
  margin-right: 8px;
}

.search-bar input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 15px;
}

.nav-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.nav-link {
  text-decoration: none;
  color: #282727;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

.nav-link:hover {
  /* color: #007bff;  */
  font-weight: bold;
}
.nav-link.active {
  /* color: #007bff;  */
  font-weight: bold;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #c74338;
  border-radius: 2px;
  transition: color;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #c74338;
  transition: width 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}

/* .nav-link.active::after {
  width: 100%;
  background-color: #f0c000;
} */

.logout-btn:hover {
  /* color: #007bff;  */
  font-weight: bold;
}
.logout-btn.active {
  /* color: #007bff;  */
  font-weight: bold;
}

.logout-btn.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #c74338;
  border-radius: 2px;
  transition: color;
}

.logout-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #c74338;
  transition: width 0.3s;
}
.logout-btn:hover::after {
  width: 100%;
}

.icon-section {
  display: flex;
  align-items: center;
  margin-right: 15px;
  gap: 20px;
}

.icon-section i {
  font-size: 20px;
  color: #444;
  cursor: pointer;
  transition: color 0.3s;
}

.icon-section i:hover {
  color: #007bff;
}


.logout-btn {
  /* color: #ff4c4c; */
  color: #333;
  cursor: pointer;
  font-weight: 500;
}

.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  .menu-icon i {
    display: block;
  }

  .nav-links {
    /* position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 220px;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    border-radius: 10px; */
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out; */
    display: none;
  }

  .nav-links.open {
    position: absolute;
    top: 140px;
    right: 55px;
    background: white;
    width: 283px;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: block;
    transform: translateX(0);
  }

  .nav-links ul {
    flex-direction: column;
    gap: 15px;
  }

  .topHeader span {
    font-size: 11px;
  }
  .logo img {
    height: 12%;
    width: 25%;
    border-radius: 10px;
  }
  .icon-section {
    align-items: center;
    display: flex;
    width: 104px;
    gap: 8px;
    justify-content: center;
  }
  
}
