.saleIsLive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 30px;
  padding: 20px;
  height: 30px;
}
.anchor {
  position: relative;
}
.anchor h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.headingh3 span::after {
 content: "";
    width: 28px;
    height: 2px;
    display: block;
    background: #f30909;
    position: absolute;
    bottom: 6px;
    right: 1px;

}
.headingh3 span{
    font-family: 'Poppins';
    font-weight: 500;
}
.view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.viewAll{
  color: #2F5B96;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    text-decoration: none;
}
/* @media (max-width:768px) {
  .saleIsLive{
    width: 74%;
  }
} */