.slider {
  position: relative;
  margin-top: 5px;
  overflow: hidden;
  width: 100%;
  height: 473px;
  max-height: 500px;
  /* max-height: 550px; */
  /* height: 250px; */
}

.slides {
  display: flex;
  transition: transform 0.8s cubic-bezier(0.4, 0, 1, 1);
  transform: translate(-100 * current);
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  /* height: 550px; */
  height: 35%;
  display: block;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dot.active {
  opacity: 1;
  background-color: #d30a0a;
}
@media (max-width: 768px) {
  .slides {
    height: 70vh;
  }
  .slider {
    /* height: 225px; */
    height: 133px;
  }
  .slide img {
    height: 30%;
  }
}

@media (max-width: 900px) {
  .slider {
    /* height: 225px; */
    height: 133px;
  }
}
