.spinnerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100px; */
  position: relative;
}

.spinner{
    position: absolute;
    top: -5px;
    right: 0%;
    left: 48%;
    border: 5px solid #c7c3c3;
    border-radius: 50%;
    border-top: 5px solid #0599fc;
    width: 50px;
    height: 50px;
    animation: spin 1s 
linear infinite;
    margin-bottom: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
