.thankyou-page {
  text-align: center;
  padding: 60px 20px;
}

.thankyou-page h1 {
  color: #2e8b57;
}

.thankyou-page button {
  background: #ff3f6c;
  border: none;
  padding: 12px 30px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
  margin: 20px;
}

.thankyou-page button:hover {
  background: #e3345b;
}
